{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3 class=" white-text center-align">Select your Intention Area</h3>
    
    <!--Exercise Card-->
    <div class="row">
        <div class="col s12 l6">
            <div class="card medium">
                <div class="card-image">
                    <img src="/static/images/exercise1.jpg" alt="person exercising">
                </div>
                <div class="card-content center-align">
                    <span class="card-title">Exercise</span>
                    <p>Text content goes here</p>
                </div>
                <div class="div card-action center-align">
                    <a href="{{ url_for('add_intention')}}">Browse intentions</a>
                </div>
            </div>
        </div>
        <!--Sleep Card-->
        <div class="row">
        <div class="col s12 l6">
            <div class="card medium">
                    <div class="card-image">
                        <img src="/static/css/images/sleeping.jpeg" alt="person sleeping">
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title">Sleep</span>
                        <p>Text content goes here</p>
                    </div>
                    <div class="div card-action center-align">
                        <a href="">Browse intentions</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Water Card-->
        <div class="row">
            <div class="col s12 l6">
                <div class="card medium">
                    <div class="card-image">
                        <img src="/static/css/images/water.jpeg" alt="person exercising">
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title">Hydration</span>
                        <p>Text content goes here</p>
                    </div>
                    <div class="div card-action center-align">
                        <a href="{{ url_for('hydration_intentions')}}">Browse intentions</a>
                    </div>
                </div>
            </div>
            <!--Mindfulness Card-->
            <div class="row">
            <div class="col s12 l6">
                <div class="card medium">
                        <div class="card-image">
                            <img src="/static/css/images/mindfulness.jpeg" alt="person sleeping">
                        </div>
                        <div class="card-content center-align">
                            <span class="card-title">Mindfulness</span>
                            <p>Text content goes here</p>
                        </div>
                        <div class="div card-action center-align">
                            <a href="">Browse intentions</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>


{% endblock %}