{% extends "base.html" %}
{% block content %}
<nav class="nav-extended">
    <div class="nav-wrapper navbar-fixed">
        <a href="{{ url_for('home_page') }}" class="brand-logo">Up Health</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right black"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('home_page') }}" class="black-text">Home</a></li> 
            <li><a href="{{ url_for('register') }}" class="black-text" >Register</a></li>  
            <li><a href="{{ url_for('login') }}" class="black-text">Log In</a></li>
            
        </ul>
    </div>
</nav>


<h1>Dashboard</h1>

{% endblock %}