{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Mindfulness Intentions</h3>

<div class="row">
    {% for Mindfulness_intentions  in mindfulness  %}
    <div class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="/static/images/exercise1.jpg">
          <a class="btn-floating btn-medium halfway-fab waves-effect waves-light green left text center-align"></i>{{ Mindfulness_intentions.health_score}}</a>
          <span class="card-title">{{ Mindfulness_intentions.intention_name}}</span>
          <a href="{{ url_for('add_intention') }}" class="btn-floating halfway-fab waves-effect pulse waves-light red"><i class="fas fa-plus"></i></a>
        </div>
        <div class="card-content">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}