{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text">My Intentions</h3>

<div class="row">
  {% for My_intentions in user_intentions %}
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image">
        <img src="/level_up/static/images/exercise1.jpg">
      </div>
      <div class="card-content">
        <span class="card-title">{{ My_intentions.intention_name}}</span>
      </div>
      <div class="card-action">
        <a class="btn-floating btn-medium halfway-fab waves-effect waves-light green left text center-align"></i>{{ My_intentions.health_score}}</a>
        <a href="{{ url_for('delete_intention', intention_id=My_intentions.id) }}" class="btn-floating btn-medium waves-effect waves-light red center text center-align"><i class="fas fa-minus-circle"></i></a>
        <a href="{{My_intentions.id}}" data-target='{{My_intentions.id}}' class="btn-floating btn halfway-fab waves-effect pulse waves-light blue modal-trigger"><i class="fas fa-check"></i></a>
      </div>
    </div>
  </div>


  <!-- Modal Structure -->
<div id="{{My_intentions.id}}" class="modal modal-trigger">
  <div class="modal-content">
  <form method="POST" action="{{ url_for('my_completed_intentions')}}">
        <div class="input-field col s12">
          <input name="intention_name" readonly value="{{My_intentions.intention_name}}" id="intention_name" type="text" class="validate">
          <label for="intention_name"></label>
        </div>
        <div class="input-field col s12">
          <input name="health_score" readonly value="{{My_intentions.health_score}}" id="health_score" type="text" class="validate">
          <label for="health_score">Health score:{{My_intentions.health_score}}</label>
          </div>
  <div class="modal-footer">
    <input type="submit" class="modal-close waves-effect waves-green btn-flat"></input>
  </div>
  </form>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}





